#encabezado{
   
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

}
#encabezado h1{
    font-size: 50px;
    padding-top: 20px;
}
#encabezado img{
    height: 30px;
    width: 30px;
    background-color: none;
    font-family: sans-serif,Arial, Helvetica;
}